
ul li{ list-style:none}
a{ text-decoration:none;}
a:hover{ color:#e46432;} 
body{margin:auto; background:#ffffcc;overflow-x:hidden;}


/*****¹ºÎï³µ*********/
.gwc{ width:1100px;overflow:hidden;}
.gwc_tb1{ width:100%; border-top:5px solid #ff8080; background:#ffcccc; height:38px; margin-top:20px; overflow:hidden;}
.tb1_td1{ width:30px; text-align:center;font-size:12px; font-weight:bold;}
.tb1_td2{ width:250px; text-align:center; font-size:12px; font-weight:bold;background:#ffcccc right no-repeat;}
.tb1_td3{ width:250px; text-align:center; font-size:12px; font-weight:bold;background:#ffcccc right no-repeat;}
.tb1_td4{ width:110px; text-align:center; font-size:12px; font-weight:bold;background:#ffcccc right no-repeat;}
.tb1_td5{ width:180px; text-align:center; font-size:12px; font-weight:bold;background:#ffcccc right no-repeat;}
.tb1_td6{ width:110px; text-align:center; font-size:12px; font-weight:bold;background:#ffcccc right no-repeat;}
.tb1_td7{ text-align:center;font-size:14px; font-weight:bold;}


.gwc_tb2{ width:100%; margin-top:20px; background:#ffffcc; border:1px solid #e5e5e5; padding-top:20px; padding-bottom:20px;}
.tb2_td1{ width:60px; text-align:center;}
.tb2_td2{ width:300px; text-align:center;font-size:16px;}
.tb2_td3{ width:210px; text-align:center;}
.tb2_td3 img{ width:120px; height:96px; border:2px solid #c9c6c7;}
.tb2_td4{ width:90px; text-align:center; font-size:14px;}
.tb2_td4 a{ font-size:14px; line-height:22px;}
.tb2_td5{ width:200px; text-align:center; font-size:12px; font-weight:bold;background:#ffffcc right no-repeat;}
.tb2_td6{ width:100px; text-align:center; font-size:12px; font-weight:bold;background:#ffffcc right no-repeat;}
.tb2_td7{ text-align:center;font-size:14px; font-weight:bold;}


.gwc_tb3{ width:100%; border:1px solid #d2d2d2; background:#ffcccc; height:46px; margin-top:20px; }
.tb3_td2{ width:100px;text-align:center;}
.tb3_td2 span{ color:#ff5500;font-size:14px; font-weight:bold; padding-left:5px; padding-right:5px; }
.tb3_td3{ width:220px;text-align:center;}
.tb3_td3 span{ font-size:18px; font-weight:bold;}
.tb3_td4{ width:110px;text-align:center;}
.jz2{ width:100px; height:46px; line-height:46px; text-align:center; font-size:18px; color:#fff; background:#ff8c8c; display:block; float:right;}
#jz1{font-size:18px;}





























